.DS_Store
/.build
/Packages
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
# Keep Fastlane files tracked
!fastlane/

# Keep source code and assets tracked
!XplorUIKitExample/**/*
